In [1]:
import pandas as pd

In [2]:
# READ FILE
df=pd.read_csv("C:\\Users\\hraha_8xjyrze\\Downloads\\archive\\orders.csv")
df

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [3]:
# SHOW COLUMNS
df.columns

Index(['Order Id', 'Order Date', 'Ship Mode', 'Segment', 'Country', 'City',
       'State', 'Postal Code', 'Region', 'Category', 'Sub Category',
       'Product Id', 'cost price', 'List Price', 'Quantity',
       'Discount Percent'],
      dtype='object')

In [4]:
# COLUMN RENAME
df =df.rename(columns={'Order Id':'order_id','Order Date':'order_date','Ship Mode':'ship_mode','Postal Code':'postal_code','Sub Category':'product_name','Product Id':'product_id','cost price':'cost_price','List Price':'list_price','Discount Percent':'discount_percent','Segment':'segment','Country':'country','City':'city','State':'state','Region':'region','Category':'category','Quantity':'quantity'})
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,product_name,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [5]:
# CHECK DATA TYPES OF COLUMNS
df.dtypes

order_id             int64
order_date          object
ship_mode           object
segment             object
country             object
city                object
state               object
postal_code          int64
region              object
category            object
product_name        object
product_id          object
cost_price           int64
list_price           int64
quantity             int64
discount_percent     int64
dtype: object

In [6]:
# CHANGE DATE TYPE
df['order_date'] = pd.to_datetime(df['order_date'])

In [7]:
# Extract year, month, and day
df['Year'] = df['order_date'].dt.year
df['Month'] = df['order_date'].dt.month
df['Day'] = df['order_date'].dt.day

In [8]:
df.dtypes

order_id                     int64
order_date          datetime64[ns]
ship_mode                   object
segment                     object
country                     object
city                        object
state                       object
postal_code                  int64
region                      object
category                    object
product_name                object
product_id                  object
cost_price                   int64
list_price                   int64
quantity                     int64
discount_percent             int64
Year                         int32
Month                        int32
Day                          int32
dtype: object

In [9]:
# CHECK NULL VALUES
df.isnull().sum()

order_id            0
order_date          0
ship_mode           1
segment             0
country             0
city                0
state               0
postal_code         0
region              0
category            0
product_name        0
product_id          0
cost_price          0
list_price          0
quantity            0
discount_percent    0
Year                0
Month               0
Day                 0
dtype: int64

In [10]:
#FILL NA
df=df.fillna(method='ffill')

C:\Users\hraha_8xjyrze\AppData\Local\Temp\ipykernel_10228\1212337889.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df=df.fillna(method='ffill')

In [11]:
df.isnull().sum()

order_id            0
order_date          0
ship_mode           0
segment             0
country             0
city                0
state               0
postal_code         0
region              0
category            0
product_name        0
product_id          0
cost_price          0
list_price          0
quantity            0
discount_percent    0
Year                0
Month               0
Day                 0
dtype: int64

In [12]:
print(df['ship_mode'].value_counts())
df

ship_mode
Standard Class    5963
Second Class      1945
First Class       1538
Same Day           543
Not Available        4
unknown              1
Name: count, dtype: int64

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,product_name,product_id,cost_price,list_price,quantity,discount_percent,Year,Month,Day
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,2023,3,1
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,2023,8,15
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,2023,1,10
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,2022,6,18
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,2022,7,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,2023,2,18
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,2023,3,17
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,2022,8,7
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,2022,11,19
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,2022,7,17

In [13]:
# CALCULATE DISCOUNT
df['discount']=df['list_price']*(df['discount_percent']/100)

In [14]:
# CALCULATE SALES PRICE
df['sales_price']=df['list_price']-df['discount']

In [15]:
# CALCULATE PROFIT
df['profit']=df['sales_price']-df['cost_price']

In [16]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'product_name',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent', 'Year', 'Month', 'Day', 'discount', 'sales_price',
       'profit'],
      dtype='object')

In [17]:
# REMOVE WHITE SPACES
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x) 

print(df)

      order_id order_date       ship_mode    segment        country  \
0            1 2023-03-01    Second Class   Consumer  United States
1            2 2023-08-15    Second Class   Consumer  United States
2            3 2023-01-10    Second Class  Corporate  United States
3            4 2022-06-18  Standard Class   Consumer  United States
4            5 2022-07-13  Standard Class   Consumer  United States
...        ...        ...             ...        ...            ...
9989      9990 2023-02-18    Second Class   Consumer  United States
9990      9991 2023-03-17  Standard Class   Consumer  United States
9991      9992 2022-08-07  Standard Class   Consumer  United States
9992      9993 2022-11-19  Standard Class   Consumer  United States
9993      9994 2022-07-17    Second Class   Consumer  United States

                 city       state  postal_code region         category  ...  \
0           Henderson    Kentucky        42420  South        Furniture  ...
1           Henderson    Kentucky        42420  South        Furniture  ...
2         Los Angeles  California        90036   West  Office Supplies  ...
3     Fort Lauderdale     Florida        33311  South        Furniture  ...
4     Fort Lauderdale     Florida        33311  South  Office Supplies  ...
...               ...         ...          ...    ...              ...  ...
9989            Miami     Florida        33180  South        Furniture  ...
9990       Costa Mesa  California        92627   West        Furniture  ...
9991       Costa Mesa  California        92627   West       Technology  ...
9992       Costa Mesa  California        92627   West  Office Supplies  ...
9993      Westminster  California        92683   West  Office Supplies  ...

     cost_price list_price  quantity  discount_percent  Year  Month  Day  \
0           240        260         2                 2  2023      3    1
1           600        730         3                 3  2023      8   15
2            10         10         2                 5  2023      1   10
3           780        960         5                 2  2022      6   18
4            20         20         2                 5  2022      7   13
...         ...        ...       ...               ...   ...    ...  ...
9989         30         30         3                 4  2023      2   18
9990         70         90         2                 4  2023      3   17
9991        220        260         2                 2  2022      8    7
9992         30         30         4                 3  2022     11   19
9993        210        240         2                 3  2022      7   17

      discount  sales_price  profit
0          5.2        254.8    14.8
1         21.9        708.1   108.1
2          0.5          9.5    -0.5
3         19.2        940.8   160.8
4          1.0         19.0    -1.0
...        ...          ...     ...
9989       1.2         28.8    -1.2
9990       3.6         86.4    16.4
9991       5.2        254.8    34.8
9992       0.9         29.1    -0.9
9993       7.2        232.8    22.8

[9994 rows x 22 columns]

C:\Users\hraha_8xjyrze\AppData\Local\Temp\ipykernel_10228\3838191414.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [18]:
df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,...,cost_price,list_price,quantity,discount_percent,Year,Month,Day,discount,sales_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,...,240,260,2,2,2023,3,1,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,...,600,730,3,3,2023,8,15,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,...,10,10,2,5,2023,1,10,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,...,780,960,5,2,2022,6,18,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,...,20,20,2,5,2022,7,13,1.0,19.0,-1.0

In [19]:
# SEPERATE TWO TABLE
df1=df.iloc[0:,0:12]
df1

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,product_name,product_id
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760
...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684

In [20]:
df2=df.iloc[0:,11:22]
df2

,product_id,cost_price,list_price,quantity,discount_percent,Year,Month,Day,discount,sales_price,profit
0,FUR-BO-10001798,240,260,2,2,2023,3,1,5.2,254.8,14.8
1,FUR-CH-10000454,600,730,3,3,2023,8,15,21.9,708.1,108.1
2,OFF-LA-10000240,10,10,2,5,2023,1,10,0.5,9.5,-0.5
3,FUR-TA-10000577,780,960,5,2,2022,6,18,19.2,940.8,160.8
4,OFF-ST-10000760,20,20,2,5,2022,7,13,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...
9989,FUR-FU-10001889,30,30,3,4,2023,2,18,1.2,28.8,-1.2
9990,FUR-FU-10000747,70,90,2,4,2023,3,17,3.6,86.4,16.4
9991,TEC-PH-10003645,220,260,2,2,2022,8,7,5.2,254.8,34.8
9992,OFF-PA-10004041,30,30,4,3,2022,11,19,0.9,29.1,-0.9
9993,OFF-AP-10002684,210,240,2,3,2022,7,17,7.2,232.8,22.8

In [21]:
import psycopg2
connection=psycopg2.connect(
    host="localhost",
    user="postgres",
    password="kuma"
)
mediater=connection.cursor()
mediater.execute("select version()")
version_output=mediater.fetchone()
print(version_output)

('PostgreSQL 16.6, compiled by Visual C++ build 1942, 64-bit',)

In [22]:
from sqlalchemy import create_engine
import pandas as pd

host = "localhost"
user = "postgres"
password = "kuma"
database = "first"

engine = create_engine(f"postgresql://{user}:{password}@{host}/{database}")

data = pd.read_csv('C:\\Users\\hraha_8xjyrze\\Downloads\\archive\\orders.csv')

table_name = "orders"

data.to_sql(table_name,engine,if_exists="replace",index=False) #['fail,replace,append']

print("successfully inserted")

successfully inserted

In [23]:
df2=df.iloc[0:,11:22]
df2

,product_id,cost_price,list_price,quantity,discount_percent,Year,Month,Day,discount,sales_price,profit
0,FUR-BO-10001798,240,260,2,2,2023,3,1,5.2,254.8,14.8
1,FUR-CH-10000454,600,730,3,3,2023,8,15,21.9,708.1,108.1
2,OFF-LA-10000240,10,10,2,5,2023,1,10,0.5,9.5,-0.5
3,FUR-TA-10000577,780,960,5,2,2022,6,18,19.2,940.8,160.8
4,OFF-ST-10000760,20,20,2,5,2022,7,13,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...
9989,FUR-FU-10001889,30,30,3,4,2023,2,18,1.2,28.8,-1.2
9990,FUR-FU-10000747,70,90,2,4,2023,3,17,3.6,86.4,16.4
9991,TEC-PH-10003645,220,260,2,2,2022,8,7,5.2,254.8,34.8
9992,OFF-PA-10004041,30,30,4,3,2022,11,19,0.9,29.1,-0.9
9993,OFF-AP-10002684,210,240,2,3,2022,7,17,7.2,232.8,22.8

In [24]:
table_name = "df2"

df2.to_sql(table_name,engine,if_exists="replace",index=False) #['fail,replace,append']

print("successfully inserted")

successfully inserted

In [25]:
df1=df.iloc[0:,0:12]
df1

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,product_name,product_id
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760
...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684

In [26]:
table_name = "df1"

df1.to_sql(table_name,engine,if_exists="replace",index=False) #['fail,replace,append']

print("successfully inserted")

successfully inserted

In [27]:
table_name = "df"

df.to_sql(table_name,engine,if_exists="replace",index=False) #['fail,replace,append']

print("successfully inserted")

successfully inserted